#library-content {
	width: calc(100% - 30px);
	grid-template-columns: repeat(auto-fit, minmax(8rem, 10vh));
}

@media screen and (width <= 640px) {
	#library-content {
		grid-template-columns: repeat(3, calc((100vw - 30px - 20px) / 3));
	}
	#library-content > div:not(.img-organizer-title) {
		height: calc((100vw - 30px - 20px) / 3);
	}
	#person-search-wrap {
		justify-content: center;
		margin-bottom: 60px;
	}
}

.nearby-person {
	width: min(90%, 500px);
}

.pop-in-enter {
	opacity: 0;
	transform: translateY(8px) scale(0.98);
	visibility: visible !important;
}
.pop-in-enter-active {
	opacity: 1;
	transform: translateY(0) scale(1);
	transition: opacity 150ms ease-out, transform 150ms cubic-bezier(0.2, 0.9, 0.2, 1);
	visibility: visible !important;
}
.pop-in-enter-done {
	visibility: visible !important;
}
.pop-in-exit {
	opacity: 1;
	transform: translateY(0) scale(1);
	visibility: visible !important;
}
.pop-in-exit-active {
	opacity: 0;
	transform: translateY(8px) scale(0.98);
	transition: opacity 150ms ease-in, transform 150ms ease-in;
}
.pop-in-exit-done {
	visibility: hidden;
}

.overlay-bg-enter {
	opacity: 0;
}
.overlay-bg-enter-active {
	opacity: 0.8;
	transition: opacity 100ms ease-out;
}
.overlay-bg-exit {
	opacity: 0.8;
	transition: opacity 150ms ease-in;
}
.overlay-bg-exit-active {
	opacity: 0;
	transition: opacity 150ms ease-in;
}
	
.ghost-loader {
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: hsl(0, 0%, 19%);
	background: linear-gradient(to right, hsl(0, 0%, 19%) 8%, hsl(0, 0%, 30%) 18%, hsl(0, 0%, 19%) 33%);
	background-size: 500% 100%;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: 150% 0;
	}

	100% {
		background-position: -100% 0;
	}
}