/*
%name - reusable styles (used @extend %name)
@mixin name - function (used @include name(param))
$name - variable
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html, body {
  margin: 0;
  height: auto;
}

.font-header {
  font-family: "Inter", "Ubuntu", "Segoe UI", sans-serif, monospace;
  font-weight: 900;
}

.font-name {
  font-family: "Ubuntu", "Segoe UI", sans-serif, monospace;
}

.text-green {
  color: #76ce91;
}

.text-gray-6 {
  color: #636363;
}

.text-gray-3 {
  color: #282828;
}

.text-white {
  color: #dbdbdb;
}

.text-white-1 {
  color: #f9f9f9;
}

.bg-green-2 {
  background: #76ce91;
}

.bg-gray-3 {
  background: #282828;
}

.bg-gray-1 {
  background: #191919;
}

p {
  margin: 0;
}

.sticky {
  position: sticky;
}

.fixed {
  position: fixed;
}

input {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Inter", "Ubuntu", "Segoe UI", sans-serif, monospace;
  background: #f9f9f9;
  border-radius: 5px;
  font-size: 1rem;
  outline-color: #2f914d;
}