@use "ext";

// * {
//     user-select: none;
// }
html,body {
	margin: 0;
	height: auto;
}

.font-header {
	font-family: ext.$font-heading;
	font-weight: 900;
}

.font-name {
	font-family: ext.$font-name;
}

.text-green {
	color: ext.$green-2;
}

.text-gray-6 {
	color: ext.$gray-6;
}

.text-gray-3 {
	color: ext.$gray-3;
}

.text-white {
	color: ext.$white-0;
}

.bg-green-2 {
	background: ext.$green-2;
}

.bg-gray-3 {
	background: ext.$gray-3;
}

.bg-gray-1 {
	background: ext.$gray-1;
}

p {
	margin: 0;
}

.sticky {
	position: sticky;
}