@use "ext";

@media screen and (width <= 900px) {
	#nav-desktop {
		display: none;
	}
	#nav-mobile {
		display: flex;
	}
	html {
		// scroll-snap-type: y mandatory;
	}
	main {
		// scroll-snap-align: start; // requires PWA to be usable
		// scroll-margin: 7vh;
	}
	body {
		// scroll-snap-align: start;
	}
}

@media screen and (width > 900px) {
	#nav-desktop {
		display: flex;
	}
	footer {
		display: none;
	}
}