@use "ext";

header {
	width: 100%;
	background: ext.$gray-3;
	// background: red;
	margin: 0;
	height: 7vh;
	margin-top: 20vh;
	top: 0;
	display: flex;
	// flex-direction: column;
	// justify-content: center;
	align-items: center;
	// justify-content: space-between;
	// padding-left: 30px;
	// padding-left: 30px;
	.header-title {
		margin-left: 10px;
	}
	.header-user {
		margin-right: 30px;
	}
	.parallel-icon {
		margin-left: 20px;
		height: 15px;
	}
}

body {
	background: ext.$gray-3;
}

main {
	background: orange;
	background: ext.$gray-1;
	width: 100%;
	.rounded-corners {
		display: flex;
		justify-content: space-between;
		position: sticky;
		top: 7vh;
		.corner-mask {
			height: 30px;
			width: 30px;
		}
	}
	.main-inner {
		height: 100%;
		position: relative;
		overflow-y: hidden;
	}
	p {
		margin-top: -30px;
		padding-top: 15px;
		padding-bottom: 15px;
		width: 100%;
		text-align: center;
		font-size: 1rem;
	}
}

